.container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form-container {
  width: 600px; /* Increase the width to 500px */
  padding: 40px; /* Increase the padding to 40px */
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  height: 450px;
  margin-right: 600px;
  margin-top: 100px;
 
  
}
  .form-group {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style for the submit button */
  .btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-submit:hover {
    background-color: #0056b3;
  }
  
  /* Style for error message */
  .error-message {
    color: red;
    margin-top: 10px;
  }
  h3{
    font-size: 30px;
    text-align: center;
   
  }
  